.crypto-detail-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: #0d0d0d;
    color: #fff;
    gap: 2rem;
    height: calc(100vh - 60px); /* Ajusta para no superponer con la navbar */
    margin-top: 60px; /* Deja espacio para la navbar fija */
    box-sizing: border-box; /* Asegura que el padding no desborde */
    width: 100vw;
}

.left-section {
    flex: 4; /* Aumenta espacio para el gráfico */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea elementos arriba */
    gap: 1.5rem;
    margin-left: 20px;
}
.right-section {
    flex: 1;
    background-color: #1a1a1a;
    padding: 1rem; /* Reduce padding interno */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea elementos arriba */
    align-items: stretch; /* Ocupa todo el ancho */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px; /* Tamaño máximo del cuadro */
}

.price-info {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.price-info .positive {
    color: #00ff00;
}

.price-info .negative {
    color: #ff0000;
}

.chart-container {
    background-color: #121212; /* Fondo del contenedor */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    width: 100%; /* Ajusta el ancho del contenedor al disponible */
    max-width: 900px; /* Tamaño máximo para que no se expanda demasiado */
    height: 400px; /* Altura consistente */
    margin: 0 auto; /* Centra horizontalmente el gráfico */
}


.quantity-input {
    width: 90%;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 4px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}

.total-cost {
    margin: 1rem 0;
    font-size: 1rem;
}

.total-cost span {
    color: #ffab00;
    font-weight: bold;
}

.buy-button {
    background-color: #ffab00;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.buy-button:hover {
    background-color: #ffa000;
}

.message {
    margin-top: 1rem;
    font-size: 1rem;
    color: #00ff00;
}
