.portfolio-container {
    padding: 20px;
    height: calc(100vh - 60px); /* Ajusta para no superponer con la navbar */
    margin-top: 60px; /* Deja espacio para la navbar fija */
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
    background-color: #121212;
    border-radius: 8px;
}
.table-section {
    max-height: calc(100vh - 200px); /* Limita el tamaño para evitar colisiones */
    overflow-y: auto; /* Permite desplazamiento vertical */
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f7931a;
}

.chart-section, .table-section {
    margin-top: 30px;
}

.portfolio-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.portfolio-table th, .portfolio-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.portfolio-table th {
    background-color: #222;
    color: #f7931a;
}

.portfolio-table tr:nth-child(even) {
    background-color: #333;
}
.chart-section {
    margin-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.portfolio-table .positive {
    color: #4caf50;
}

.portfolio-table .negative {
    color: #f44336;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.buy-section {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
}

.buy-form label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

.buy-form select,
.buy-form input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #121212;
    color: #ffffff;
}

.buy-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #f7931a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #e57c00;
}
.delete-button {
    background-color: #e74c3c; /* Rojo para indicar peligro */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c0392b; /* Un rojo más oscuro al pasar el mouse */
}

.delete-button:active {
    background-color: #a93226; /* Color aún más oscuro al hacer clic */
}
